LaTeX/deliverable.aux
LaTeX/deliverable.bbl
LaTeX/deliverable.bbl-SAVE-ERROR
LaTeX/deliverable.bcf
LaTeX/deliverable.fdb_latexmk
LaTeX/deliverable.fls
LaTeX/deliverable.log
LaTeX/deliverable.run.xml
LaTeX/deliverable.synctex.gz
LaTeX/deliverable.toc
LaTeX/deliverable.blg
LaTeX/deliverable.bcf-SAVE-ERROR
